.login_form_container {
  width: 100%;
  height: 100vh;
  background-color: #1c8b98;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login_form_second {
  width: 50%;
  height: 50vh;
}
.login_form_second h1 {
  text-align: center;
  color: white;
}
.login_form {
  background-color: #9bd8df;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
}
.login_form input {
  height: 5vh;
  border: none;
  border-radius: 10px;
}
.login_form input:focus {
  outline: none;
}
.login_form input::placeholder {
  padding: 5px;
}
.login_form input:not(:first-child) {
  margin-top: 15px;
}

/*****************************navigation*********************************/

.navigation_container {
  height: 15vh;
  margin-left: 5%;
  width: 100%;
  /* background-color: #1c8b98; */
  position: relative;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigation_button {
  position: absolute;
  right: 20px;
  border: none;
  background: none;
  color: white;
  font-size: 1.2em;
  border: white 1px solid;
  padding: 5px;
  cursor: pointer;
}

/*****************************navigation*********************************/

/*****************************dashboard container*********************************/
.container {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.dashboard_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  min-height: 100vh;
}
.sidebar {
  /* position: absolute;
  top: 0; */
  margin-top: -15vh;
  grid-column: 1/2;
  background-color: #1c8b98;
  z-index: 12;
}
.sidebar ul {
  height: 100%;
}
.sidebar ul li {
  list-style-type: none;
  margin-top: 5vh;
}
.sidebar ul li a {
  font-size: 1.3em;
}
.sidebar ul li a:hover,
.sidebar ul li a:active {
  color: rgb(224, 221, 221);
}
.main {
  grid-column: 2/6;
  background-color: #f4f5fd;
}

/*****************************dashboard container*********************************/

/*****************************dashboard main*********************************/

.main_container {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.box {
  background-color: white;
  margin-top: 5vh;
  padding: 10px;
  height: 20vh;
  border-radius: 10px;
}
.box h3 {
  text-align: center;
}
.box span {
  display: grid;
  place-items: center;
  margin-top: 5vh;
  font-size: 1.2em;
}
.graph {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 8vh;
  border-radius: 10px;
  position: relative;
  margin-bottom: 20px;
}

/*****************************dashboard main*********************************/

/*****************************dashboard add article*********************************/
.add_form_container {
  grid-column: 3/5;
}
.add_form_container h2 {
  text-align: center;
}
.add_article_form {
  display: flex;
  flex-direction: column;
}
.add_article_form input,
select,
input[type="file"] {
  height: 4vh;
  margin-top: 2vh;
}
textarea {
  padding: 10px;
}
textarea:focus,
input:focus {
  outline: none;
}
.add_article_form button {
  margin-top: 2vh;
}
/*****************************dashboard add article*********************************/
.articles {
  display: grid;
  margin-left: 20px;
  grid-column: 2/6;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  width: 100%;
}
